@{
    ViewData["Title"] = "AboutUs";
}



<h1 align="center"> Meet Our Team! </h1> 
<br />

<div>
    <!--Start of member container-->
    <div>
        <center>
        <img src="~/images/MarkPhoto.jpg" style="width:20%" alt="centered image"> <!--Insert Member Image here-->
            </center>
        <h3 align="center"> Mark Morey </h3>
        <p align="justify">
            Mark Morey is a graduate student at USF Tampa, majoring in Business Analytics & Information System.
            Mark’s focus in his degree is analytics & business intelligence, while also focusing on data analytics using statistics.
            Mark currently works as a Business Analytics Consultant for Publix Super Markets full time while attending USF part time. Mark’s contributions to this project consist of model design, webpage design, controller setup, and project management.
        </p>
        <p> <a href="https://github.com/MarkMorey1127?tab=repositories" target="_blank">Visit Mark's Github </a></p>
    </div>
    <br />
    <div>
        <center>
            <img src="~/images/QianxiPhoto.jpg" style="width:20%" align="middle"> <!--Insert Member Image here-->
        </center>
        <h3 align="center"> Qianxi Liu </h3>
        <p align="justify">
            Qianxi Liu is currently a graduate student at USF. She is pursuing major in Business Analytics & Information System.
            Qianxi used to be a marketing manager in the luxury fashion industry taking charge of bontiques and e-commerce as well as interns.
            She works as an intern in a starup cloud service company to gain practical business anlytics experience.
            In this project, she has contributed database research, webpage design and webpage development.
        </p>
        <p> <a href="https://github.com/qianxiliu?tab=repositories" target="_blank">Visit Qianxi's Github </a></p>
    </div>
    <br />
    <div>
        <center>
            <img src="~/images/Jeremy.jpg" style="width:20%" align="middle"> <!--Insert Member Image here-->
        </center>
        <h3 align="center"> Jeremy Maury </h3>
        <p align="justify">
            Jeremy Maury is a graduate student at USF in the Business analytics and Information System college.
            Jeremy completed his undergraduate at USF in the same major, business analytics.
            He is interested in data science and building models to form regression analysis and predictions.
            In this project, he has contributed website design and content.
            <br>
            <br>
            <br>
        </p>
        <p> <a href="https://github.com/jeremym7?tab=repositories" target="_blank">Visit Jeremy's Github </a></p>
    </div>
</div>



<div>
    <!--Start of content container-->

    <div>

        <div align="center">
            <!--Inserting the Model Image-->
            <h2> ERD Diagram of Model</h2>
            <img src="~/images/ERD.PNG" style="width:80%">

        </div>

        <div>
            <p>
                The National Center for Education Statistics'(NCES) Education Demographic and Geographic Estimate program develops annually updated point locations for postsecondary institutions and their outstanding students.
                Here we will be calling an API from <a href="https://catalog.data.gov/dataset/postsecondary-school-locations-current" target="_blank"> Visit Dataset </a>and utilizing it's data, as well as other randomly generated data.
            </p>
        </div>
</div>
</div>